@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.imagem_inicial{
    border-radius: 30px;
}
.home{
    padding-top: 13%;
    padding-bottom: 10%;
}
.home h2{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-style: normal;  
    font-size: 60px;
}
.home p{
    font-size: 25px;
    font-weight: 300;
    font-style: normal; 
}
.home a{
    text-decoration: none;
}

.legenda{
    font-size: 15px !important;
}

.titletypescars, .titlequalidades{
    font-size: 25px;
    font-weight: 300;
    font-style: normal;    
}
.footer-card{
    display: flex;
    justify-content: space-between;
}
.preco{
    display: flex;
    align-items: center;
}
footer{
    font-size: 20px;
}
footer div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    flex-wrap: wrap-reverse;
}
footer div .txt {
    display: flex;
    justify-content: center;
    align-items: center !important;
    height: 100%;
    padding-top: 10px;
}

footer div .redes {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.redes a{
    color: white;
}
.redes a:hover{
    cursor: pointer;
    transform: scale(1.4);
    color: gray;
}
